
@{
    ViewBag.Title = "ReadMessage";
}

<h2>ReadMessage</h2>

<div>
    <h3>Title: @Model.Title</h3>
    <p>Content: @Model.Content</p>
    <p>StaffId: @Model.StaffId</p>
    <a href="@Url.Action("Index","Home")">Back Index</a>
</div>